examples/openfuxml/old/resources/xsd/ofx/layout.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Do not modify, class migrated to ofx-core -->
<xsd:schema targetNamespace="http://www.openfuxml.org/layout"
	xmlns="http://www.openfuxml.org/layout"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:jaxb="http://java.sun.com/xml/ns/jaxb"
    xmlns:xjc="http://java.sun.com/xml/ns/jaxb/xjc"
    jaxb:extensionBindingPrefixes="xjc"
    jaxb:version="2.0">
    <xsd:element name="alignment">
		<xsd:simpleType>
	  		<xsd:restriction base="xsd:string">
				<xsd:enumeration value="left"/>
				<xsd:enumeration value="center"/>
				<xsd:enumeration value="right"/>
			</xsd:restriction>
		</xsd:simpleType>
    </xsd:element>
    <xsd:element name="width">
		 <xsd:complexType>
            <xsd:simpleContent>
                <xsd:extension base="xsd:double">
                    <xsd:attribute name="unit" use="required">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string"/>
                        </xsd:simpleType>
                    </xsd:attribute>
                </xsd:extension>
            </xsd:simpleContent>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
