examples/transformed_projects/openfuxml/old/resources/xsd/ofx.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Do not modify, class migrated to ofx-core -->
<xsd:schema targetNamespace="http://www.openfuxml.org"
    xmlns="http://www.openfuxml.org"
    xmlns:table="http://www.openfuxml.org/table"
    xmlns:list="http://www.openfuxml.org/list"
    xmlns:layout="http://www.openfuxml.org/layout"
    xmlns:cmp="http://www.openfuxml.org/cmp"
    xmlns:wiki="http://www.openfuxml.org/wiki"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:jaxb="http://java.sun.com/xml/ns/jaxb"
    xmlns:xjc="http://java.sun.com/xml/ns/jaxb/xjc" jaxb:extensionBindingPrefixes="xjc"
    jaxb:version="2.0">
    <xsd:import namespace="http://www.openfuxml.org/table" schemaLocation="ofx/table.xsd"/>
    <xsd:import namespace="http://www.openfuxml.org/list" schemaLocation="ofx/list.xsd"/>
    <xsd:import namespace="http://www.openfuxml.org/layout" schemaLocation="ofx/layout.xsd"/>
    <xsd:import namespace="http://www.openfuxml.org/cmp" schemaLocation="ofx/cmp.xsd"/>
    <xsd:import namespace="http://www.openfuxml.org/chart" schemaLocation="addon/chart.xsd"/>
    <xsd:import namespace="http://www.openfuxml.org/wiki" schemaLocation="addon/wiki.xsd"/>
    <xsd:import namespace="http://www.openfuxml.org/jsf" schemaLocation="addon/jsf-taglib.xsd"/>
    <xsd:import namespace="http://www.openfuxml.org/jsfapp" schemaLocation="addon/jsf-app.xsd"/>
    <xsd:import namespace="http://www.openfuxml.org/fuxml" schemaLocation="ofx/fuxml.xsd"/>
    <xsd:annotation>
        <xsd:appinfo>
            <jaxb:globalBindings generateIsSetMethod="true">
                <xjc:serializable uid="1"/>
            </jaxb:globalBindings>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:element name="paragraph">
        <xsd:complexType mixed="true">
            <xsd:sequence>
                <xsd:element ref="emphasis" maxOccurs="unbounded"/>
                <xsd:element ref="reference" maxOccurs="unbounded"/>
            </xsd:sequence>
            <xsd:attribute name="top" use="required">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:enumeration value="normal"/>
                        <xsd:enumeration value="small"/>
                        <xsd:enumeration value="mini"/>
                        <xsd:enumeration value="zero"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ofxdoc">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element ref="metadata" maxOccurs="1"/>
                <xsd:element ref="content" maxOccurs="1"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="metadata">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element ref="title" maxOccurs="1"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="content">
        <xsd:complexType mixed="true">
            <xsd:sequence>
                <xsd:element ref="section" maxOccurs="unbounded"/>
                <xsd:element ref="sections" maxOccurs="unbounded"/>
                <xsd:element ref="wiki:content" maxOccurs="unbounded"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="emphasis">
        <xsd:complexType>
            <xsd:simpleContent>
                <xsd:extension base="xsd:string">
                    <xsd:attribute name="style" use="required">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value="normal"/>
                                <xsd:enumeration value="typewriter"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:attribute>
                    <xsd:attribute name="bold" type="xsd:boolean"/>
                    <xsd:attribute name="italic" type="xsd:boolean"/>
                    <xsd:attribute name="underline" type="xsd:boolean"/>
                </xsd:extension>
            </xsd:simpleContent>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="reference">
        <xsd:complexType>
            <xsd:attribute name="target" type="xsd:string"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="listing">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element ref="title" maxOccurs="1"/>
                <xsd:element ref="raw" maxOccurs="1"/>
            </xsd:sequence>
            <xsd:attribute name="id" type="xsd:string"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="raw">
        <xsd:complexType>
            <xsd:simpleContent>
                <xsd:extension base="xsd:string"> </xsd:extension>
            </xsd:simpleContent>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="sections">
        <xsd:complexType mixed="true">
            <xsd:sequence>
                <xsd:element ref="section" maxOccurs="unbounded"/>
            </xsd:sequence>
             <xsd:attribute name="external" type="xsd:boolean"/>
            <xsd:attribute name="source" type="xsd:string"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="section">
        <xsd:complexType mixed="true">
            <xsd:sequence>
                <xsd:element ref="title" maxOccurs="1"/>
                <xsd:element ref="wiki:content" maxOccurs="unbounded"/>
                <xsd:element ref="paragraph" maxOccurs="unbounded"/>
                <xsd:element ref="section" maxOccurs="unbounded"/>
                <xsd:element ref="sections" maxOccurs="unbounded"/>
                <xsd:element ref="table:table" maxOccurs="unbounded"/>
                <xsd:element ref="list:list" maxOccurs="unbounded"/>
                <xsd:element ref="wiki:template" maxOccurs="unbounded"/>
            </xsd:sequence>
            <xsd:attribute name="id" type="xsd:string"/>
            <xsd:attribute name="external" type="xsd:boolean"/>
            <xsd:attribute name="source" type="xsd:string"/>
            <xsd:attribute name="transparent" type="xsd:boolean"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="title">
        <xsd:complexType>
            <xsd:simpleContent>
                <xsd:extension base="xsd:string">
                    <xsd:attribute name="numbering" type="xsd:boolean"/>
                </xsd:extension>
            </xsd:simpleContent>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
