examples/openfuxml/old/resources/repository/fuxml/helloworld/system/dtd/redaktion.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!ENTITY % absatz.class "absatz|absatz-klein|absatz-mini|absatz-ohne|buchstaeblich">
<!ENTITY % aufgabe.class "selbsttestaufgabe|uebungsaufgabe">
<!ENTITY % liste.class "aufzaehlungsliste|nummerierteliste|universalliste">
<!ENTITY % math.class "annahme|axiom|bemerkung|beweis|corollar|definition|folgerung|hauptsatz|hilfssatz|lemma|loesung|merksatz|problem|proposition|regel|satz|theorem|vertiefung|x-umgebung">
<!ENTITY % zusaetze.class "beispiel|exkurs|fall|kommentar|lit-imtext|marginalie|motto|norm|proglist|rechtsprechung|zitat|zusammenfassung">
<!ENTITY % absatz.mix "#PCDATA|animation|audio|aufhebung|bild|fett|fnref|formelarray|formel|formel-imtext|grafik|glossarref|hochgestellt|indexfix|internref|kapitaelchen|kursiv|litref|margref|querverweis|schreibmaschine|simulation|textmarke|textobjekt|tiefgestellt|unterstrichen|url|video|zeilenende">
<!ENTITY % abschnitt.mix "%absatz.class;|%aufgabe.class;|%liste.class;|%math.class;|%zusaetze.class;|abschnitt|aufgabenstellung|aufgabenloesung|indexfix|medienobjekt|tabelle|tabelle-alt">
<!ENTITY % eintrag.mix "%absatz.class;|%liste.class;|medienobjekt|tabelle|tabelle-alt">
<!ENTITY % tabelleninhalt.mix "%absatz.mix;|%absatz.class;|%liste.class;|medienobjekt">
<!ENTITY % titel.mix "%absatz.mix;|untertitel">
<!ENTITY % mini.mix "#PCDATA|zeilenende">
<!ENTITY % ref.mix "#PCDATA|bild|grafik">
<!ENTITY % standardattr "bezeichner CDATA                  #IMPLIED
             id ID                                         #IMPLIED 
             xml:lang (de|en|fr)                           #IMPLIED
             npr-teil (nein|ja)                            #IMPLIED
             extern (nein|ja)                              #IMPLIED
             quelle CDATA                                  #IMPLIED">
<!ENTITY % bildattr "fileref    CDATA                      #REQUIRED
             alt        CDATA                              #IMPLIED
             srccredit  CDATA                              #IMPLIED
             align (left|right|center)                     #IMPLIED
             pikto      CDATA                              #IMPLIED
             resolution CDATA                              #IMPLIED
             width      NMTOKEN                            #IMPLIED
             depth      NMTOKEN                            #IMPLIED
             scale      NMTOKEN                            #IMPLIED
             scalefit   NMTOKEN                            #IMPLIED
             fliessen (nicht|links|rechts|innen|aussen)    #IMPLIED">
<!ENTITY nb "&#x00A0;"><!-- &nbsp; Nicht trennbares Leerzeichen-->
<!ENTITY nnb "&#x202F;"><!-- &nbsp; schmales, nicht trennbares Leerzeichen-->
<!ENTITY n- "&#x2011;"><!-- Fixes Hyphen, das eine Trennung nach einem Trennzeichen verhindert. -->
<!ENTITY w- "&#x00AD;"><!-- Soft Hyphen, bedingte Trennstelle -->
<!ENTITY o- "&#x200B;"><!-- Hyphen, Trennfuge ohne Trennzeichen-->
<!ELEMENT kurs (metadata?, lehrtext, metaplus?, fs-elemente?, kurseinheiten?, aenderungsdatum?)>
<!ATTLIST kurs
	%standardattr; 
>
<!ELEMENT kurs-nr (#PCDATA)>
<!ATTLIST kurs-nr
	%standardattr; 
>
<!ELEMENT kurs-titel (#PCDATA)>
<!ATTLIST kurs-titel
	%standardattr; 
>
<!ELEMENT kurs-autor (#PCDATA)>
<!ATTLIST kurs-autor
	%standardattr; 
>
<!ELEMENT category (#PCDATA)>
<!ATTLIST category
	%standardattr; 
>
<!ELEMENT subcategory (#PCDATA)>
<!ATTLIST subcategory
	%standardattr; 
>
<!ELEMENT topic (#PCDATA)>
<!ATTLIST topic
	%standardattr; 
>
<!ELEMENT subject (#PCDATA)>
<!ATTLIST subject
	%standardattr; 
>
<!ELEMENT description (#PCDATA)>
<!ATTLIST description
	%standardattr; 
>
<!ELEMENT publisher (#PCDATA)>
<!ATTLIST publisher
	%standardattr; 
>
<!ELEMENT contributors (#PCDATA)>
<!ATTLIST contributors
	%standardattr; 
>
<!ELEMENT type (#PCDATA)>
<!ATTLIST type
	%standardattr; 
>
<!ELEMENT format (#PCDATA)>
<!ATTLIST format
	%standardattr; 
>
<!ELEMENT relation (#PCDATA)>
<!ATTLIST relation
	%standardattr; 
>
<!ELEMENT coverage (#PCDATA)>
<!ATTLIST coverage
	%standardattr; 
>
<!ELEMENT rights (#PCDATA)>
<!ATTLIST rights
	%standardattr; 
>
<!ELEMENT lehrtext ((%abschnitt.mix;)*, fnabschnitt?, literaturliste?)>
<!ATTLIST lehrtext
	%standardattr; 
>
<!ELEMENT ke-lehrtext EMPTY>
<!ATTLIST ke-lehrtext
	%standardattr; 
	bereich-start CDATA #IMPLIED
	bereich-ende CDATA #IMPLIED
>
<!ELEMENT kurseinheit (titelseite?, fs-elemente?, ke-lehrtext*, aenderungsdatum?)>
<!ATTLIST kurseinheit
	%standardattr; 
>
<!ELEMENT fs-elemente (voraussetzungen?, vorwort?, studierhinweise?, autorenvorstellung?, lehrziele?, literaturverz?, glossar?, anhang?, einsendeaufgaben?, fnabschnitt?, literaturliste?)>
<!ATTLIST fs-elemente
	%standardattr; 
>
<!ELEMENT kurseinheiten (kurseinheit+)>
<!ATTLIST kurseinheiten
	%standardattr; 
>
<!ELEMENT absatz (%absatz.mix;)*>
<!ATTLIST absatz
	%standardattr; 
>
<!ELEMENT absatz-klein (%absatz.mix;)*>
<!ATTLIST absatz-klein
	%standardattr; 
>
<!ELEMENT absatz-mini (%absatz.mix;)*>
<!ATTLIST absatz-mini
	%standardattr; 
>
<!ELEMENT absatz-ohne (%absatz.mix;)*>
<!ATTLIST absatz-ohne
	%standardattr; 
>
<!ELEMENT abschnitt (titel, (%abschnitt.mix;)*, fnabschnitt?, literaturliste*, aenderungsdatum?)>
<!ATTLIST abschnitt
	%standardattr; 
>
<!ELEMENT aenderungsdatum (#PCDATA)>
<!ATTLIST aenderungsdatum
	%standardattr; 
>
<!ELEMENT anhang ((%abschnitt.mix;)*)>
<!ATTLIST anhang
	%standardattr; 
>
<!ELEMENT animation EMPTY>
<!ATTLIST animation
	%standardattr; 
	%bildattr; 
>
<!ELEMENT annahme (zwischentitel?, (%abschnitt.mix;)*)>
<!ATTLIST annahme
	%standardattr; 
>
<!ELEMENT audio EMPTY>
<!ATTLIST audio
	%standardattr; 
	%bildattr; 
>
<!ELEMENT aufgabenstellung ((%abschnitt.mix;)*)>
<!ATTLIST aufgabenstellung
	%standardattr; 
>
<!ELEMENT aufhebung (%absatz.mix;)*>
<!ATTLIST aufhebung
	%standardattr; 
>
<!ELEMENT loesungshinweis (%eintrag.mix;)+>
<!ATTLIST loesungshinweis
	%standardattr; 
>
<!ELEMENT korrekturhinweis (%eintrag.mix;)+>
<!ATTLIST korrekturhinweis
	%standardattr; 
>
<!ELEMENT aufgabenloesung (%abschnitt.mix;)*>
<!ATTLIST aufgabenloesung
	%standardattr; 
>
<!ELEMENT aufzaehlungsliste (eintrag+)>
<!ATTLIST aufzaehlungsliste
	%standardattr; 
	stiltyp (punkt | kreis | quadrat | spiegelstrich | nichts) "punkt"
>
<!ELEMENT autorenvorstellung ((%abschnitt.mix;)*)>
<!ATTLIST autorenvorstellung
	%standardattr; 
>
<!ELEMENT axiom (titel, (%abschnitt.mix;)*)>
<!ATTLIST axiom
	%standardattr; 
>
<!ELEMENT beispiel (zwischentitel?, (%abschnitt.mix;)*)>
<!ATTLIST beispiel
	%standardattr; 
	gruppe CDATA #IMPLIED
>
<!ELEMENT bemerkung (zwischentitel, (%abschnitt.mix;)*)>
<!ATTLIST bemerkung
	%standardattr; 
>
<!ELEMENT beweis (zwischentitel, (%abschnitt.mix;)*)>
<!ATTLIST beweis
	%standardattr; 
	gruppe CDATA #IMPLIED
>
<!ELEMENT bild EMPTY>
<!ATTLIST bild
	%standardattr; 
	%bildattr; 
>
<!ELEMENT buchstaeblich (%absatz.mix;)*>
<!ATTLIST buchstaeblich
	xml:space (default | preserve) #FIXED "preserve"
	%standardattr; 
>
<!ELEMENT corollar (titel, (%abschnitt.mix;)*)>
<!ATTLIST corollar
	%standardattr; 
>
<!ELEMENT definition (titel, (%abschnitt.mix;)*)>
<!ATTLIST definition
	%standardattr; 
>
<!ELEMENT einsendeaufgabe (zwischentitel?, aufgabenstellung?, unteraufgabe*, loesungshinweis?, korrekturhinweis?, aufgabenloesung?)>
<!ATTLIST einsendeaufgabe
	%standardattr; 
	punkte CDATA #IMPLIED
>
<!ELEMENT einsendeaufgaben ((%abschnitt.mix;)*, einsendeaufgabe*)>
<!ATTLIST einsendeaufgaben
	%standardattr; 
>
<!ELEMENT eintrag (%eintrag.mix;)+>
<!ATTLIST eintrag
	%standardattr; 
>
<!ELEMENT erlaeuterung (%eintrag.mix;)+>
<!ATTLIST erlaeuterung
	%standardattr; 
>
<!ELEMENT exkurs (zwischentitel?, (%abschnitt.mix;)*)>
<!ATTLIST exkurs
	%standardattr; 
	gruppe CDATA #IMPLIED
>
<!ELEMENT fall (zwischentitel?, (%abschnitt.mix;)*)>
<!ATTLIST fall
	%standardattr; 
	gruppe CDATA #IMPLIED
>
<!ELEMENT fett (%absatz.mix;)*>
<!ATTLIST fett
	%standardattr; 
>
<!ELEMENT fettkursiv (%absatz.mix;)*>
<!ATTLIST fettkursiv
	%standardattr; 
>
<!ELEMENT folgerung (titel, (%abschnitt.mix;)*)>
<!ATTLIST folgerung
	%standardattr; 
>
<!ELEMENT formelarray (formel+)>
<!ATTLIST formelarray
	%standardattr; 
	num (an | aus) "an"
	typ (align | gather | alignat | xalignat | xxalignat | multiline) "align"
>
<!ELEMENT formel (#PCDATA)>
<!ATTLIST formel
	%standardattr; 
	num (an | aus) "an"
>
<!ELEMENT formel-imtext (#PCDATA)>
<!ATTLIST formel-imtext
	%standardattr; 
>
<!ELEMENT fnabschnitt (zwischentitel, fussnote+)>
<!ATTLIST fnabschnitt
	%standardattr; 
>
<!ELEMENT fnref EMPTY>
<!ATTLIST fnref
	zielmarke IDREF #IMPLIED
	%standardattr; 
>
<!ELEMENT fussnote (%abschnitt.mix;)*>
<!ATTLIST fussnote
	zielmarke IDREF #REQUIRED
	%standardattr; 
	gruppe CDATA #IMPLIED
>
<!ELEMENT glossar ((%abschnitt.mix;)*)>
<!ATTLIST glossar
	%standardattr; 
>
<!ELEMENT glossarref (%ref.mix;)*>
<!ATTLIST glossarref
	zielmarke CDATA #IMPLIED
	%standardattr; 
>
<!ELEMENT grafik EMPTY>
<!ATTLIST grafik
	%standardattr; 
	%bildattr; 
>
<!ELEMENT hauptsatz (titel, (%abschnitt.mix;)*)>
<!ATTLIST hauptsatz
	%standardattr; 
>
<!ELEMENT hilfssatz (titel, (%abschnitt.mix;)*)>
<!ATTLIST hilfssatz
	%standardattr; 
>
<!ELEMENT hochgestellt (%absatz.mix;)*>
<!ATTLIST hochgestellt
	%standardattr; 
>
<!ELEMENT indexfix (primaer?, ((sekundaer, ((tertiaer, (siehe | sieheauch+)?) | siehe | sieheauch+)?) | siehe | sieheauch+)?)>
<!ATTLIST indexfix
	%standardattr; 
	scope (ke | ges) #IMPLIED
	relevanz (hoch | normal) "normal"
	class (singulaer | startofrange | endofrange) #IMPLIED
	startref CDATA #IMPLIED
	zone CDATA #IMPLIED
>
<!ELEMENT primaer (%absatz.mix;)*>
<!ATTLIST primaer
	sortals CDATA #IMPLIED
	%standardattr; 
>
<!ELEMENT sekundaer (%absatz.mix;)*>
<!ATTLIST sekundaer
	sortals CDATA #IMPLIED
	%standardattr; 
>
<!ELEMENT tertiaer (%absatz.mix;)*>
<!ATTLIST tertiaer
	sortals CDATA #IMPLIED
	%standardattr; 
>
<!ELEMENT siehe (%absatz.mix;)*>
<!ATTLIST siehe
	%standardattr; 
>
<!ELEMENT sieheauch (%absatz.mix;)*>
<!ATTLIST sieheauch
	%standardattr; 
>
<!ELEMENT internref (%ref.mix;)*>
<!ATTLIST internref
	zielmarke CDATA #REQUIRED
	%standardattr; 
>
<!ELEMENT kapitaelchen (%absatz.mix;)*>
<!ATTLIST kapitaelchen
	%standardattr; 
>
<!ELEMENT kommentar (zwischentitel?, (%abschnitt.mix;)*)>
<!ATTLIST kommentar
	%standardattr; 
	gruppe CDATA #IMPLIED
>
<!ELEMENT kursiv (%absatz.mix;)*>
<!ATTLIST kursiv
	%standardattr; 
>
<!ELEMENT lehrziele ((%abschnitt.mix;)*)>
<!ATTLIST lehrziele
	%standardattr; 
>
<!ELEMENT lemma (titel, (%abschnitt.mix;)*)>
<!ATTLIST lemma
	%standardattr; 
>
<!ELEMENT literaturliste (zwischentitel, liteintrag*)>
<!ATTLIST literaturliste
	%standardattr; 
>
<!ELEMENT literaturverz ((%abschnitt.mix;)*, literaturliste?)>
<!ATTLIST literaturverz
	%standardattr; 
>
<!ELEMENT liteintrag (litkennung, (%eintrag.mix;)+)>
<!ATTLIST liteintrag
	%standardattr; 
>
<!ELEMENT lit-imtext (%abschnitt.mix;)*>
<!ATTLIST lit-imtext
	%standardattr; 
>
<!ELEMENT litkennung (#PCDATA)>
<!ATTLIST litkennung
	%standardattr; 
>
<!ELEMENT litref (%ref.mix;)*>
<!ATTLIST litref
	zielmarke CDATA #REQUIRED
	%standardattr; 
>
<!ELEMENT loesung (zwischentitel, (%abschnitt.mix;)*)>
<!ATTLIST loesung
	%standardattr; 
	gruppe CDATA #IMPLIED
>
<!ELEMENT metadata (kurs-nr*, kurs-titel*, kurs-autor*)>
<!ATTLIST metadata
	%standardattr; 
>
<!ELEMENT metaplus (category?, subcategory?, topic?, subject?, description?, publisher?, contributors?, type?, format?, relation?, coverage?, rights?)>
<!ATTLIST metaplus
	%standardattr; 
>
<!ELEMENT marginalie (%abschnitt.mix;)*>
<!ATTLIST marginalie
	zielmarke IDREF #REQUIRED
	%standardattr; 
>
<!ELEMENT margref EMPTY>
<!ATTLIST margref
	zielmarke IDREF #IMPLIED
	%standardattr; 
>
<!ELEMENT medienobjekt (margref?, (animation | audio | bild | grafik | simulation | textobjekt | video)*, objekttitel?)>
<!ATTLIST medienobjekt
	%standardattr; 
	gleiten (nein | ja) "nein"
>
<!ELEMENT merksatz (zwischentitel, (%abschnitt.mix;)*)>
<!ATTLIST merksatz
	%standardattr; 
>
<!ELEMENT motto (zwischentitel?, (%abschnitt.mix;)*)>
<!ATTLIST motto
	%standardattr; 
	gruppe CDATA #IMPLIED
>
<!ELEMENT norm (zwischentitel?, (%abschnitt.mix;)*)>
<!ATTLIST norm
	%standardattr; 
	gruppe CDATA #IMPLIED
>
<!ELEMENT nummerierteliste (eintrag+)>
<!ATTLIST nummerierteliste
	%standardattr; 
	fortsetzen (nein | ja) "nein"
	stiltyp (dezimal | g-roemisch | k-roemisch | g-alpha | k-alpha | griechisch) "dezimal"
>
<!ELEMENT objekttitel (%abschnitt.mix;)*>
<!ATTLIST objekttitel
	%standardattr; 
	mediennum (ohne | animation | audio | bild-grafik | simulation | textobjekt | video) "bild-grafik"
>
<!ELEMENT problem (zwischentitel, (%abschnitt.mix;)*)>
<!ATTLIST problem
	%standardattr; 
	gruppe CDATA #IMPLIED
>
<!ELEMENT proglist (zwischentitel?, (%abschnitt.mix;)*)>
<!ATTLIST proglist
	xml:space (default | preserve) #FIXED "preserve"
	%standardattr; 
	gruppe CDATA #IMPLIED
>
<!ELEMENT proposition (titel, (%abschnitt.mix;)*)>
<!ATTLIST proposition
	%standardattr; 
>
<!ELEMENT querverweis (#PCDATA)>
<!ATTLIST querverweis
	zielmarke CDATA #REQUIRED
	%standardattr; 
>
<!ELEMENT rechtsprechung (zwischentitel?, (%abschnitt.mix;)*)>
<!ATTLIST rechtsprechung
	%standardattr; 
	gruppe CDATA #IMPLIED
>
<!ELEMENT regel (titel, (%abschnitt.mix;)*)>
<!ATTLIST regel
	%standardattr; 
	gruppe CDATA #IMPLIED
>
<!ELEMENT satz (titel, (%abschnitt.mix;)*)>
<!ATTLIST satz
	%standardattr; 
>
<!ELEMENT schreibmaschine (%absatz.mix;)*>
<!ATTLIST schreibmaschine
	%standardattr; 
>
<!ELEMENT selbsttestaufgabe (aufgabenstellung, loesungshinweis?, aufgabenloesung?)>
<!ATTLIST selbsttestaufgabe
	%standardattr; 
>
<!ELEMENT simulation EMPTY>
<!ATTLIST simulation
	%standardattr; 
	%bildattr; 
>
<!ELEMENT stichwort (%absatz.mix;)*>
<!ATTLIST stichwort
	%standardattr; 
>
<!ELEMENT studierhinweise ((%abschnitt.mix;)*)>
<!ATTLIST studierhinweise
	%standardattr; 
>
<!ELEMENT textmarke EMPTY>
<!ATTLIST textmarke
	%standardattr; 
>
<!ELEMENT textobjekt EMPTY>
<!ATTLIST textobjekt
	%standardattr; 
	%bildattr; 
>
<!ELEMENT theorem (titel, (%abschnitt.mix;)*)>
<!ATTLIST theorem
	%standardattr; 
>
<!ELEMENT tiefgestellt (%absatz.mix;)*>
<!ATTLIST tiefgestellt
	%standardattr; 
>
<!ELEMENT titel (%titel.mix;)*>
<!ATTLIST titel
	%standardattr; 
	num (an | aus) "an"
>
<!ELEMENT untertitel (%absatz.mix;)*>
<!ATTLIST untertitel
	%standardattr; 
>
<!ELEMENT uebungsaufgabe (aufgabenstellung, loesungshinweis?, aufgabenloesung?)>
<!ATTLIST uebungsaufgabe
	%standardattr; 
>
<!ELEMENT universalliste (universaleintrag)+>
<!ATTLIST universalliste
	%standardattr; 
	typ (abkuerzungsverz | begriffsverz | symbolverz) "begriffsverz"
>
<!ELEMENT universaleintrag (stichwort+, erlaeuterung+)>
<!ATTLIST universaleintrag
	%standardattr; 
>
<!ELEMENT unteraufgabe (zwischentitel?, aufgabenstellung, loesungshinweis?, korrekturhinweis?, aufgabenloesung?)>
<!ATTLIST unteraufgabe
	%standardattr; 
	punkte CDATA #IMPLIED
	numtyp (dezimal | k-alpha) "dezimal"
>
<!ELEMENT unterstrichen (%absatz.mix;)*>
<!ATTLIST unterstrichen
	%standardattr; 
>
<!ELEMENT url (%ref.mix;)*>
<!ATTLIST url
	adresse CDATA #REQUIRED
	%standardattr; 
>
<!ELEMENT vertiefung (zwischentitel, (%abschnitt.mix;)*)>
<!ATTLIST vertiefung
	%standardattr; 
>
<!ELEMENT video EMPTY>
<!ATTLIST video
	%standardattr; 
	%bildattr; 
>
<!ELEMENT voraussetzungen ((%abschnitt.mix;)*)>
<!ATTLIST voraussetzungen
	%standardattr; 
>
<!ELEMENT vorwort ((%abschnitt.mix;)*)>
<!ATTLIST vorwort
	%standardattr; 
>
<!ELEMENT x-umgebung (titel, (%abschnitt.mix;)*)>
<!ATTLIST x-umgebung
	%standardattr; 
	typ CDATA #IMPLIED
>
<!ELEMENT zeilenende EMPTY>
<!ATTLIST zeilenende
	%standardattr; 
>
<!ELEMENT zitat (zwischentitel?, (%abschnitt.mix;)*)>
<!ATTLIST zitat
	%standardattr; 
	gruppe CDATA #IMPLIED
>
<!ELEMENT zusammenfassung (zwischentitel?, (%abschnitt.mix;)*)>
<!ATTLIST zusammenfassung
	%standardattr; 
	gruppe CDATA #IMPLIED
>
<!ELEMENT zwischentitel (%absatz.mix;)*>
<!ATTLIST zwischentitel
	%standardattr; 
	num (an | aus) "aus"
>
<!ELEMENT titelseite (feulogo, varlogo1?, varlogo2?, varlogo3?, varlogo4?, varlogo5?, varlogo6?, kurstitel, ke-bezeich, ke-titel, a-bezeich, autoren, m-bezeich?, mitarbeiter?, g-bezeich?, gestalter?, titelbild, varlogo2?, copyright, kursnummer, codierung)>
<!ATTLIST titelseite
	%standardattr; 
>
<!ELEMENT feulogo (bild)>
<!ATTLIST feulogo
	%standardattr; 
>
<!ELEMENT varlogo1 (bild)>
<!ATTLIST varlogo1
	%standardattr; 
>
<!ELEMENT varlogo2 (bild)>
<!ATTLIST varlogo2
	%standardattr; 
>

<!ELEMENT varlogo3 (bild)>
<!ATTLIST varlogo3
	%standardattr; 
>

<!ELEMENT varlogo4 (bild)>
<!ATTLIST varlogo4
	%standardattr; 
>

<!ELEMENT varlogo5 (bild)>
<!ATTLIST varlogo5
	%standardattr; 
>

<!ELEMENT varlogo6 (bild)>
<!ATTLIST varlogo6
	%standardattr; 
>
<!ELEMENT kurstitel (%absatz.mix;)*>
<!ATTLIST kurstitel
	%standardattr; 
>
<!ELEMENT ke-bezeich (%absatz.mix;)*>
<!ATTLIST ke-bezeich
	%standardattr; 
>
<!ELEMENT ke-titel (%absatz.mix;)*>
<!ATTLIST ke-titel
	%standardattr; 
>
<!ELEMENT a-bezeich (%absatz.mix;)*>
<!ATTLIST a-bezeich
	%standardattr; 
>
<!ELEMENT autoren (%absatz.mix;)*>
<!ATTLIST autoren
	%standardattr; 
>
<!ELEMENT m-bezeich (%absatz.mix;)*>
<!ATTLIST m-bezeich
	%standardattr; 
>
<!ELEMENT mitarbeiter (%absatz.mix;)*>
<!ATTLIST mitarbeiter
	%standardattr; 
>
<!ELEMENT g-bezeich (%absatz.mix;)*>
<!ATTLIST g-bezeich
	%standardattr; 
>
<!ELEMENT gestalter (%absatz.mix;)*>
<!ATTLIST gestalter
	%standardattr; 
>
<!ELEMENT titelbild (bild)>
<!ATTLIST titelbild
	%standardattr; 
>
<!ELEMENT copyright (%mini.mix;)*>
<!ATTLIST copyright
	%standardattr; 
>
<!ELEMENT kursnummer (%mini.mix;)*>
<!ATTLIST kursnummer
	%standardattr; 
>
<!ELEMENT codierung (%mini.mix;)*>
<!ATTLIST codierung
	%standardattr; 
>
