examples/openfuxml/xml/src/main/xsd/addon/wiki.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://www.openfuxml.org/wiki"
    xmlns:wiki="http://www.openfuxml.org/wiki"
    xmlns:ofx="http://www.openfuxml.org"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:import namespace="http://www.openfuxml.org" schemaLocation="../content/ofx.xsd"/>
    <xsd:element name="ofx">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element ref="wiki:wikireplace" maxOccurs="unbounded"/>
                <xsd:element ref="wiki:wikiinjection" maxOccurs="unbounded"/>
                <xsd:element ref="wiki:ofxchart" maxOccurs="unbounded"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="injections">
     	<xsd:complexType>
        	<xsd:sequence>
                <xsd:element ref="wiki:wikiinjection" maxOccurs="unbounded"/>
                <xsd:element ref="wiki:template" maxOccurs="unbounded"/>
            </xsd:sequence>
         	<xsd:attribute name="external" type="xsd:boolean"/>
         	<xsd:attribute name="source" type="xsd:string"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="templates">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element ref="wiki:template" maxOccurs="unbounded"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="template">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element ref="wiki:markup" maxOccurs="1"/>
                <xsd:element ref="wiki:templateKv" maxOccurs="unbounded"/>
            </xsd:sequence>
            <xsd:attribute name="id" type="xsd:string"/>
            <xsd:attribute name="name" type="xsd:string"/>
            <xsd:attribute name="class" type="xsd:string"/>
            <xsd:attribute name="external" type="xsd:boolean"/>
         	<xsd:attribute name="source" type="xsd:string"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="templateKv">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element ref="wiki:markup" maxOccurs="1"/>
            </xsd:sequence>
             <xsd:attribute name="key" type="xsd:string"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="markup">
        <xsd:complexType>
            <xsd:simpleContent>
                <xsd:extension base="xsd:string" />
            </xsd:simpleContent>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="wikiinjection">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="wikicontent">
                    <xsd:complexType>
                        <xsd:simpleContent>
                            <xsd:extension base="xsd:string" />
                        </xsd:simpleContent>
                    </xsd:complexType>
                </xsd:element>
                <xsd:element ref="wiki:ofxchart" maxOccurs="unbounded"/>
                <xsd:element ref="wiki:ofxgallery" maxOccurs="unbounded"/>
            </xsd:sequence>
            <xsd:attribute name="format" type="xsd:string"/>
            <xsd:attribute name="article" type="xsd:string"/>
            <xsd:attribute name="id" type="xsd:string"/>
            <xsd:attribute name="wikitag" type="xsd:string"/>
            <xsd:attribute name="ofxtag" type="xsd:string"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="replacements">
     	<xsd:complexType>
        	<xsd:sequence>
                <xsd:element ref="wiki:wikireplace" maxOccurs="unbounded"/>
            </xsd:sequence>
         	<xsd:attribute name="external" type="xsd:boolean"/>
         	<xsd:attribute name="source" type="xsd:string"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="wikireplace">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="description" maxOccurs="1"/>
            </xsd:sequence>
            <xsd:attribute name="from" type="xsd:string"/>
            <xsd:attribute name="to" type="xsd:string"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ofxchart">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="title" maxOccurs="1">
                    <xsd:complexType>
                        <xsd:attribute name="label" type="xsd:string"/>
                        <xsd:attribute name="key" type="xsd:string"/>
                    </xsd:complexType>
                </xsd:element>
                <xsd:element name="x-axis" maxOccurs="1">
                    <xsd:complexType>
                        <xsd:attribute name="label" type="xsd:string"/>
                        <xsd:attribute name="key" type="xsd:string"/>
                        <xsd:attribute name="dateformat" type="xsd:string"/>
                    </xsd:complexType>
                </xsd:element>
                <xsd:element name="y-axis" maxOccurs="1">
                    <xsd:complexType>
                        <xsd:attribute name="label" type="xsd:string"/>
                        <xsd:attribute name="key" type="xsd:string"/>
                    </xsd:complexType>
                </xsd:element>
                <xsd:element name="colors" maxOccurs="1">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element ref="wiki:color" maxOccurs="unbounded"/>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
                <xsd:element name="size" maxOccurs="1">
                    <xsd:complexType>
                        <xsd:attribute name="height" type="xsd:int"/>
                        <xsd:attribute name="width" type="xsd:int"/>
                    </xsd:complexType>
                </xsd:element>
                <xsd:element name="grid" maxOccurs="1">
                    <xsd:complexType>
                        <xsd:attribute name="range" type="xsd:boolean"/>
                        <xsd:attribute name="domain" type="xsd:boolean"/>
                    </xsd:complexType>
                </xsd:element>
                <xsd:element ref="wiki:ofxchartcontainer" maxOccurs="unbounded"/>
            </xsd:sequence>
            <xsd:attribute name="type" type="xsd:string"/>
            <xsd:attribute name="id" type="xsd:string"/>
            <xsd:attribute name="legend" type="xsd:boolean"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="color">
        <xsd:complexType>
            <xsd:attribute name="typ" type="xsd:string"/>
            <xsd:attribute name="r" type="xsd:int"/>
            <xsd:attribute name="g" type="xsd:int"/>
            <xsd:attribute name="b" type="xsd:int"/>
            <xsd:attribute name="a" type="xsd:int"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ofxgallery">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="ofximage" maxOccurs="unbounded">
                    <xsd:complexType>
                        <xsd:simpleContent>
                            <xsd:extension base="xsd:string">
                                <xsd:attribute name="wikilink" type="xsd:string" />
                            </xsd:extension>
                        </xsd:simpleContent>
                    </xsd:complexType>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ofxchartcontainer">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element ref="wiki:ofxchartdata" maxOccurs="unbounded"/>
                <xsd:element ref="wiki:ofxchartcontainer" maxOccurs="unbounded"/>
            </xsd:sequence>
            <xsd:attribute name="type" type="xsd:string"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ofxchartdata">
        <xsd:complexType>
            <xsd:simpleContent>
                <xsd:extension base="xsd:double">
                    <xsd:attribute name="type" type="xsd:string" />
                    <xsd:attribute name="label" type="xsd:string" />
                </xsd:extension>
            </xsd:simpleContent>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="contents">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element ref="wiki:content" maxOccurs="unbounded"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="content">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element ref="wiki:server" maxOccurs="1"/>
                <xsd:element ref="wiki:page" maxOccurs="1"/>
                <xsd:element ref="wiki:category" maxOccurs="1"/>
            </xsd:sequence>
            <xsd:attribute name="id" type="xsd:string"/>
            <xsd:attribute name="source" type="xsd:string"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="page">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element ref="ofx:section" maxOccurs="1"/>
            </xsd:sequence>
            <xsd:attribute name="id" type="xsd:string"/>
            <xsd:attribute name="name" type="xsd:string"/>
            <xsd:attribute name="file" type="xsd:string"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="category">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="table" maxOccurs="1"/>
                <xsd:element name="section" maxOccurs="1"/>
                <xsd:element ref="wiki:page" maxOccurs="unbounded"/>
            </xsd:sequence>
            <xsd:attribute name="id" type="xsd:string"/>
            <xsd:attribute name="name" type="xsd:string"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="xhtmlProcessor">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element ref="wiki:replacements" maxOccurs="1"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="markupProcessor">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element ref="wiki:injections" maxOccurs="1"/>
                <xsd:element ref="wiki:replacements" maxOccurs="1"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="servers">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element ref="wiki:server" maxOccurs="unbounded"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="server">
        <xsd:complexType>
        	<xsd:sequence>
                <xsd:element ref="wiki:auth" maxOccurs="unbounded"/>
            </xsd:sequence>
            <xsd:attribute name="id" type="xsd:string"/>
            <xsd:attribute name="default" type="xsd:boolean"/>
            <xsd:attribute name="name" type="xsd:string"/>
            <xsd:attribute name="url" type="xsd:string"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="auth">
        <xsd:complexType>
            <xsd:attribute name="type">
            	<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="left"/>
						<xsd:enumeration value="center"/>
						<xsd:enumeration value="right"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
            <xsd:attribute name="name" type="xsd:string"/>
            <xsd:attribute name="password" type="xsd:string"/>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
