examples/transformed_projects/openfuxml/old/resources/xsd/ofx/list.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Do not modify, class migrated to ofx-core -->
<xsd:schema targetNamespace="http://www.openfuxml.org/list"
	xmlns="http://www.openfuxml.org/list"
	xmlns:ofx="http://www.openfuxml.org"
	xmlns:layout="http://www.openfuxml.org/layout"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:jaxb="http://java.sun.com/xml/ns/jaxb"
    xmlns:xjc="http://java.sun.com/xml/ns/jaxb/xjc"
    jaxb:extensionBindingPrefixes="xjc"
    jaxb:version="2.0">
    <xsd:import namespace="http://www.openfuxml.org" schemaLocation="../ofx.xsd"/>
    <xsd:import namespace="http://www.openfuxml.org/layout" schemaLocation="layout.xsd"/>
    <xsd:element name="list">
        <xsd:complexType>
            <xsd:sequence>
				<xsd:element ref="type" minOccurs="1" maxOccurs="1"/>
                <xsd:element ref="item" minOccurs="0" maxOccurs="unbounded"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="type">
        <xsd:complexType>
            <xsd:attribute name="ordering">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="ordered"/>
						<xsd:enumeration value="unordered"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="item">
        <xsd:complexType mixed="true">
            <xsd:sequence>
                <xsd:element ref="ofx:paragraph" minOccurs="0" maxOccurs="unbounded"/>
            </xsd:sequence>
            <xsd:attribute name="name" type="xsd:string"/>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>